#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0909; /* Cor do background que ocupara o Body */
    z-index: 9999; /* z-index para jogar para frente e sobrepor tudo */
}
.disappear {
    animation: vanish 1s forwards;
}
@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
#preloader .inner{
    position: absolute;
    top: 40%; /* Centralizar a parte interna do preload (onde fica a animação) */
    left: 45%;
    transform: translate(50%, 50%);
}
@media (max-width: 500px){
    #preloader .inner{
        position: absolute;
        top: 40%; /* Centralizar a parte interna do preload (onde fica a animação) */
        left: 38%;
        transform: translate(50%, 50%);
    }
}